<h2> My Heroes</h2>
<h1>{{title}}</h1>
<form (ngSubmit)="register(heroForm)" #heroForm="ngForm">
    <div>
        <label>Hero name:</label>
        <input type="text" class="form-control" id="name" required name="name" ngModel>
        <button type="submit">Add</button>
    </div>
</form>

<ul class="heroes">
    <li (click)=changeValue(hero) *ngFor="let hero of heroes">
        <span class="badge">{{hero.id}}</span> {{hero.name}}
    </li>
</ul>
<app-hero-detail [selectedHero]=hero></app-hero-detail>